<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
  </configSections>
  <!-- Web Settings-->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <!-- Security Settings -->
    <authentication mode="Forms" />
    <!-- *********************************************** -->
    <!-- Role and Memnbership provider -->
    <!-- *********************************************** -->
    <!-- Role and membership provider can be used only in standard scenarios. For example in case
    where the role determines access to the system as whole. In the case the role determines access to the 
    account, or in some cases could determine access to the whole system(e.g. administrator).
    But instead custom security mechanism is used using Spring.NET AOP. -->
    <!--<membership defaultProvider="BankMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add
          name="BankMembershipProvider"
          type="CloudyBank.Web.BankMembershipProvider"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          writeExceptionsToEventLog="true" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="BankRoleProvider"
                 cacheRolesInCookie="true"
                 cookieName=".ASPROLES"
                 cookieTimeout="30"
                 cookiePath="/"
                 cookieRequireSSL="false"
                 cookieSlidingExpiration="true"
                 cookieProtection="All">
      <providers>
        <clear/>
        <add name="BankRoleProvider"
             type="CloudyBank.Web.Security.BankRoleProvider"/>
      </providers>
    </roleManager>-->
  </system.web>
  <!-- *********************************************** -->
  <!-- Turn Off/On the build-in authentication service -->
  <!-- *********************************************** -->
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false"/>
      </webServices>
    </scripting>
  </system.web.extensions>-->
  <!-- Spring configuration -->
  <spring>
    <context>
      <resource uri="~/bin/DataAccess.xml" />
      <resource uri="~/bin/Services.xml" />
    </context>
  </spring>
  <!-- NHibernate configuration for SqlServer 2008 -->
  <!-- Edit the connection string !!! -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--<property name="connection.connection_string">Data Source=.\SQLEXPRESS;Initial Catalog=octobank;User ID=OctoBank;Password=OctoBank</property>-->
      <property name="connection.connection_string">Server=tcp:ln0yjpqhaz.database.windows.net,1433;Database=OctoBank;User ID=octo@ln0yjpqhaz;Password=Admin123!;Trusted_Connection=False;Encrypt=True;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
      <property name="current_session_context_class">web</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <mapping assembly="CloudyBank.DataAccess" />
    </session-factory>
  </hibernate-configuration>
  <system.serviceModel>
    <!-- *********************************************** -->
    <!-- This behaviour extension can be used to intercept incomming messages -->
    <!-- *********************************************** -->
    <!-- 
    <extensions>      
      <behaviorExtensions>
        <add name="testBehaviorExtension" type="CloudyBank.Web.Security.TestBehaviorExtensionElement, CloudyBank.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    -->
    <behaviors>
      <endpointBehaviors>
        <!-- This is a behavior which permits intercepting of incomming messages. It could be used e.g. to perform authentification of each message -->
        <!--<behavior name="testBehavior">
          <testBehaviorExtension />
        </behavior>-->
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="BankRoleProvider" />
        </behavior>
        <behavior name="NeutralBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!-- This is the behavior for OAuth services, it uses proper AuthorizationManager to perfrom the Authorization -->
        <behavior name="OpenDataApiBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="CloudyBank.Web.Security.OAuth.OAuthAuthorizationManager, CloudyBank.Web" principalPermissionMode="Custom" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="LargeCustomBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="BinaryOverHTTPBinding">
          <binaryMessageEncoding />
          <httpTransport allowCookies="true" />
        </binding>
        <binding name="CloudyBank.Web.WCFServices.WCFOAuthManagementService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <!-- Here the base address can be added -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFAccountService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFAccountService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFAccountService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSAccountEndpoint" contract="CloudyBank.Web.WCFServices.WCFAccountService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFCustomerService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFCustomerService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSCustomerEndpoint" contract="CloudyBank.Web.WCFServices.WCFCustomerService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFCustomerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFOperationService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFOperationService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSOperationEndpoint" contract="CloudyBank.Web.WCFServices.WCFOperationService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFOperationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFUserService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFUserService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSUsersEndpoint" contract="CloudyBank.Web.WCFServices.WCFUserService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFAdvisorService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFAdvisorService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSAdvisorEndpoint" contract="CloudyBank.Web.WCFServices.WCFAdvisorService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFAdvisorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFRoleService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFRoleService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSRoleEndpoint" contract="CloudyBank.Web.WCFServices.WCFRoleService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFRoleService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFTagService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFTagService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSTagEndpoint" contract="CloudyBank.Web.WCFServices.WCFTagService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFTagService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFPaymentEventService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFPaymentEventService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSPaymentEventEndpoint" contract="CloudyBank.Web.WCFServices.WCFPaymentEventService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFPaymentEventService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFPartnerService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFPartnerService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSPartnerEndpoint" contract="CloudyBank.Web.WCFServices.WCFPartnerService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFPartnerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFCustomerProfileService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFCustomerProfileService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSCustomerProfileEndpoint" contract="CloudyBank.Web.WCFServices.WCFCustomerProfileService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFCustomerProfileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFTagDepensesServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFTagDepensesServices" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSTagDepensesEndpoint" contract="CloudyBank.Web.WCFServices.WCFTagDepensesServices" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFTagDepensesServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFFileService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFFileService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSFileEndpoint" contract="CloudyBank.Web.WCFServices.WCFFileService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFFileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFAgencyService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" name="BinaryEndpoint" contract="CloudyBank.Web.WCFServices.WCFAgencyService" />
        <endpoint address="soap" binding="basicHttpBinding" name="WSAgencyEndpoint" contract="CloudyBank.Web.WCFServices.WCFAgencyService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" name="JsonEndpoint" contract="CloudyBank.Web.WCFServices.WCFAgencyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OpenDataApiBehavior" name="CloudyBank.Web.OpenServices.DataService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="CloudyBank.Web.OpenServices.IDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFLogService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryOverHTTPBinding" contract="CloudyBank.Web.WCFServices.WCFLogService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="NeutralBehavior" name="CloudyBank.Web.WCFServices.WCFImageService">
        <endpoint address="" binding="customBinding" bindingConfiguration="LargeCustomBinding" contract="CloudyBank.Web.WCFServices.WCFImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CloudyBank.Web.WCFServices.WCFOAuthManagementService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CloudyBank.Web.WCFServices.WCFOAuthManagementService.customBinding0" contract="CloudyBank.Web.WCFServices.WCFOAuthManagementService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!-- Logging of WCF services -->
    <diagnostics performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="262144" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="c:\logs\messages3.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="messages">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="E:\projects\octo\CloudyBank\Applications\CloudyBank.Web\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <!-- This is important: there are some assemblies(Spring?) which have reference to older version of Common.Logging (1.2.0.0)
       This changes the references to the newer version (2.0.0.0)-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="1.2.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <!-- *********************************************** -->
    <!-- Logging to the console -->
    <!-- *********************************************** -->
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>-->
    <appender name="azureTraceAppender" type="CloudyBank.Web.Security.AzureTraceAppender, CloudyBank.Web">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!-- *********************************************** -->
    <!-- Logging to file -->
    <!-- *********************************************** -->
    <!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>-->
    <!-- Azure appender is not defined from here, instead started from Global -->
    <!--<appender name="AzureAppender" type="CloudyBank.Services.AzureUtils.AzureAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>-->
    <root>
      <level value="WARN" />
      <appender-ref ref="azureTraceAppender" />
      <!--<appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>-->
    </root>
    <logger name="CloudyBank">
      <level value="ALL" />
    </logger>
    <logger name="Spring">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.Tool.hbm2ddl.SchemaExport">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
    <!-- useful for debugging OAuth problems -->
    <logger name="DotNetOpenAuth">
      <level value="ALL" />
    </logger>
  </log4net>
  <!-- this is an optional configuration section where aspects of dotnetopenauth can be customized -->
  <dotNetOpenAuth>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
</configuration>